* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    display: grid;
    place-content: center;
    height: 100vh;
}

canvas {
    height: 600;
    width: 600;
    border-radius: 5%;
    background-color: black;

}