*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: grid;
    place-content: center;
    min-height: 100vh;
}

canvas {

    border: slategray 1px solid;

}

nav {
    height: 4rem;
    background-color: rgb(156, 148, 148);
    position: fixed;
    top: 0;
    width: 100%;
}